name: Docs

on:
  push:
    branches: [main]

permissions:
  contents: write

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - run: python -m pip install -U pip mkdocs mkdocs-material "mkdocstrings[python]"
      - run: mkdocs build --strict
      - run: mkdocs gh-deploy --force
